In [1]:
import pyodbc
import pandas as pd

In [58]:
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=LORDWSQL01\DW_Live;'
                      'Database=DW_Mirrored_Data;'
                      'Trusted_Connection=yes;')
cursor = conn.cursor()

scccInvoiceData = pd.read_sql_query("""SELECT a.ain_inv, A.ain_amount, a.ain_anal, a.ain_desc,
a.ain_origdist, a.ain_supref, a.avm_num, a.ohd_num,
b.jcc_cc, b.aid_amount ,b.aid_desc
FROM [DW_Mirrored_Data].[src_coins_uk].[ap_invoice_PAR1] as a
jOIN [DW_Mirrored_Data].[src_coins_uk].[ap_invdist] as b on a.ain_inv = b.ain_inv
WHERE ain_anal like 'V3588'
OR ain_anal like 'PH1012'
OR ain_anal like 'TM065'
  OR ain_anal like 'V3905'
  OR ain_anal like 'V7706'
  OR ain_anal like 'V7710'
   OR ain_anal like 'V3900'
    OR ain_anal like 'W3871'
	 OR ain_anal like 'W3509'
	  OR ain_anal like 'W3573'
	   OR ain_anal like 'PRWAL306'
	    OR ain_anal like 'PRWAL316'
		 OR ain_anal like 'A3880'
		  OR ain_anal like 'HN251'
		   OR ain_anal like 'Y3902'
		    OR ain_anal like 'CHM3871'
			 OR ain_anal like 'EIP3871'
			  OR ain_anal like 'GRC3871'
			   OR ain_anal like 'SEL3871'
			    OR ain_anal like 'EPH3871'
    order by a.ain_inv""",conn)

In [ ]:
scccInvoiceDataHistory = pd.read_sql_query("""SELECT a.ain_inv, A.ain_amount, a.ain_anal, a.ain_desc,
a.ain_origdist, a.ain_supref, a.avm_num, a.ohd_num,
b.jcc_cc, b.aid_amount ,b.aid_desc
FROM [DW_Mirrored_Data].[src_coins_uk].[ap_invoice_PAR1_History] as a
jOIN [DW_Mirrored_Data].[src_coins_uk].[ap_invdist_history] as b on a.ain_inv = b.ain_inv
WHERE ain_anal like 'V3588'
OR ain_anal like 'PH1012'
OR ain_anal like 'TM065'
  OR ain_anal like 'V3905'
  OR ain_anal like 'V7706'
  OR ain_anal like 'V7710'
   OR ain_anal like 'V3900'
    OR ain_anal like 'W3871'
	 OR ain_anal like 'W3509'
	  OR ain_anal like 'W3573'
	   OR ain_anal like 'PRWAL306'
	    OR ain_anal like 'PRWAL316'
		 OR ain_anal like 'A3880'
		  OR ain_anal like 'HN251'
		   OR ain_anal like 'Y3902'
		    OR ain_anal like 'CHM3871'
			 OR ain_anal like 'EIP3871'
			  OR ain_anal like 'GRC3871'
			   OR ain_anal like 'SEL3871'
			    OR ain_anal like 'EPH3871'
    order by a.ain_inv""",conn)

In [59]:
subcontractorsData = pd.read_sql_query("""SELECT DISTINCT a.avm_num, b.avm_name

FROM [DW_Mirrored_Data].[src_coins_uk].[ap_invoice_PAR1] as a

jOIN [DW_Mirrored_Data].[src_coins_uk].[ap_vendor] as b on a.avm_num = b.avm_num


WHERE ain_anal like 'V3588'
OR ain_anal like 'PH1012'
OR ain_anal like 'TM065'
  OR ain_anal like 'V3905'
  OR ain_anal like 'V7706'
  OR ain_anal like 'V7710'
   OR ain_anal like 'V3900'
    OR ain_anal like 'W3871'
	 OR ain_anal like 'W3509'
	  OR ain_anal like 'W3573'
	   OR ain_anal like 'PRWAL306'
	    OR ain_anal like 'PRWAL316'
		 OR ain_anal like 'A3880'
		  OR ain_anal like 'HN251'
		   OR ain_anal like 'Y3902'
		    OR ain_anal like 'CHM3871'
			 OR ain_anal like 'EIP3871'
			  OR ain_anal like 'GRC3871'
			   OR ain_anal like 'SEL3871'
			    OR ain_anal like 'EPH3871'
ORDER BY a.avm_num ASC
""",conn)

subcontractorsDataHistory = pd.read_sql_query("""SELECT DISTINCT a.avm_num, b.avm_name

FROM [DW_Mirrored_Data].[src_coins_uk].[ap_invoice_PAR1_History] as a

jOIN [DW_Mirrored_Data].[src_coins_uk].[ap_vendor_History] as b on a.avm_num = b.avm_num


WHERE ain_anal like 'V3588'
OR ain_anal like 'PH1012'
OR ain_anal like 'TM065'
  OR ain_anal like 'V3905'
  OR ain_anal like 'V7706'
  OR ain_anal like 'V7710'
   OR ain_anal like 'V3900'
    OR ain_anal like 'W3871'
	 OR ain_anal like 'W3509'
	  OR ain_anal like 'W3573'
	   OR ain_anal like 'PRWAL306'
	    OR ain_anal like 'PRWAL316'
		 OR ain_anal like 'A3880'
		  OR ain_anal like 'HN251'
		   OR ain_anal like 'Y3902'
		    OR ain_anal like 'CHM3871'
			 OR ain_anal like 'EIP3871'
			  OR ain_anal like 'GRC3871'
			   OR ain_anal like 'SEL3871'
			    OR ain_anal like 'EPH3871'
ORDER BY a.avm_num ASC
""",conn)

In [ ]:
scccInvoiceData = scccInvoiceData.append(scccInvoiceDataHistory, sort = FALSE)
subcontractorsData = subcontractorsData.append(subcontractorsDataHistory, sort = FALSE)

In [60]:
scccInvoiceData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107598 entries, 0 to 107597
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ain_inv       107598 non-null  object
 1   ain_amount    107598 non-null  float64
 2   ain_anal      107598 non-null  object
 3   ain_desc      107598 non-null  object
 4   ain_origdist  107598 non-null  object
 5   ain_supref    107598 non-null  object
 6   avm_num       107598 non-null  object
 7   ohd_num       107598 non-null  object
 8   jcc_cc        107598 non-null  object
 9   aid_amount    107598 non-null  float64
 10  aid_desc      107598 non-null  object
dtypes: float64(2), object(9)
memory usage: 9.0+ MB

In [61]:
scccInvoiceData["CostCodes"] = scccInvoiceData.jcc_cc.str[-4:]

In [62]:
mappingTable = pd.read_excel("CostCodes_mapping.xlsx")

In [29]:
mappingTable.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 808 entries, 0 to 807
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CODE         808 non-null    object
 1   DESCRIPTION  808 non-null    object
 2   C            808 non-null    int64
 3   ALLOCATION   808 non-null    object
dtypes: int64(1), object(3)
memory usage: 25.4+ KB

In [63]:
masterMapDesc = dict(mappingTable[["CODE","DESCRIPTION"]].values)
masterMapAlloc = dict(mappingTable[["CODE","ALLOCATION"]].values)

subContractorsMap = dict(subcontractorsData[["avm_num","avm_name"]].values)

scccInvoiceData["DESCRIPTION"] = scccInvoiceData.CostCodes.map(masterMapDesc)
scccInvoiceData["ALLOCATION"] = scccInvoiceData.CostCodes.map(masterMapAlloc)
scccInvoiceData["SUBCONTRACTOR"] = scccInvoiceData["avm_num"].map(subContractorsMap)

In [55]:
scccInvoiceData.head(10)

,ain_inv,ain_amount,ain_anal,ain_desc,ain_origdist,ain_supref,avm_num,ohd_num,jcc_cc,aid_amount,aid_desc,CostCodes,DESCRIPTION,ALLOCATION,SUBCONTRACTOR
0,140115567,122.00,W3509,,R,44/777787,SI0292,M-W3509/000002,999999KA27,101.67,,KA27,PPE & Consumables,PPE,National Safety Supplies
1,140118721,41.31,W3509,Auto Plant Invoice,C,1093430,SE0002,,999999HJ40,22.17,MOB03991 07785513218 DAVID LEVERTON 905684 ...,HJ40,Mobile Phones,STAFF,Select Plant Hire Company Ltd
2,140118721,41.31,W3509,Auto Plant Invoice,C,1093430,SE0002,,999999HJ40,15.71,MOB12405 07584005205 DAVID BLAKELY 906803 3...,HJ40,Mobile Phones,STAFF,Select Plant Hire Company Ltd
3,140118721,41.31,W3509,Auto Plant Invoice,C,1093430,SE0002,,999999HJ40,3.43,MOB06235 07917593106 DAVID BLAKEY 906803 Au...,HJ40,Mobile Phones,STAFF,Select Plant Hire Company Ltd
4,140201811,296.72,W3509,,R,6634719,SU0076,M-W3509/000001,,291.06,Various,,NaN,NaN,Banner Group Ltd
5,140201811,296.72,W3509,,R,6634719,SU0076,M-W3509/000001,999999KA18,120.77,,KA18,Stationery,SUNDRIES,Banner Group Ltd
6,140201811,296.72,W3509,,R,6634719,SU0076,M-W3509/000001,999999KA27,44.16,,KA27,PPE & Consumables,PPE,Banner Group Ltd
7,140201811,296.72,W3509,,R,6634719,SU0076,M-W3509/000001,999999KA27,98.81,,KA27,PPE & Consumables,PPE,Banner Group Ltd
8,140201819,35.50,W3509,Signage,C,540542,TR0257,M-W3509/000003,999999DA64,29.58,Signage,DA64,Signs,OTHER MATERIALS,TSC Signs Limited
9,140201819,35.50,W3509,Signage,C,540542,TR0257,M-W3509/000003,TE40,718.38,,TE40,Cleaning,OFFICES,TSC Signs Limited

In [64]:
scccInvoiceData.to_excel("SCCCInvoiceData.xlsx")

In [65]:
scccInvoiceData.aid_amount.sum()

123957526.82999997